[submodule "rtl/f_to_f"]
	path = rtl/f_to_f
	url = https://github.com/vicharak-in/f_to_f.git
[submodule "rtl/cordic"]
	path = rtl/cordic
	url = https://github.com/vicharak-in/cordic.git
[submodule "rtl/square_root"]
	path = rtl/square_root
	url = https://github.com/vicharak-in/square_root.git
[submodule "rtl/divider"]
	path = rtl/divider
	url = https://github.com/vicharak-in/divider_core.git
